html {
    background: #e3e3e3;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;

}

.blog-post {
    border-bottom: 1px dotted #ccc;

}


h3 {
    font-size: 3em;
    margin: 0;
  }


.blog-post .author {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .blog-post time {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .blog-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  section form label {
    font-weight: bold;
    margin-right: 10px;
  }

  section form button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
  }