body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 40px;
    color: #242424;
    border-top: 10px solid #242424;
}

h1 {

}

p {

}

#blog {

}

.blog-post {

}